<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	  
	<context:component-scan base-package="com.globalin.biz"></context:component-scan>
	
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	<!-- <bean id="userService" class="com.globalin.biz.user.impl.UserServiceImpl">
		<property name="userDAO" ref="userDAO"></property>
	</bean>
	<bean id="userDAO" class="com.globalin.biz.user.impl.UserDAO"></bean> -->
	
	<!-- <bean class="polymorphism.SonySpeaker"></bean> -->
	
	<!-- Transaction -->
	
	<!-- DataSource 설정 -->
	<context:property-placeholder location="classpath:config/database.properties"  />
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<!-- Spring JDBC -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- Transaction -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut expression="execution(* com.globalin.biz..*Impl.*(..))" id="txPointcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>
	</aop:config>
	
	<!-- 
	<bean id="tv" class="polymorphism.SamsungTV" />
	<import resource="a.xml"/>
	 -->
	<!--  
	 <bean id="tv" class="polymorphism.SamsungTV" p:speaker-ref="sony" p:price="2700000">
		
	 	ref: 객체를 인자로 넘길 떄
	 	<property name="speaker" ref="apple"></property>
	 	value: 기본 자료형을 인자로 넘길 때
	 	<property name="price" value="2700000"></property>
	 	
	 </bean>
	 <bean id="sony" class="polymorphism.SonySpeaker"></bean>
	 <bean id="apple" class="polymorphism.AppleSpeaker"></bean>
	  -->
	  <!-- 
	  <bean id="collectionBean" class="com.globalin.ioc.injection.CollectionBean">
	  	<property name="addressList">
	  		<props>
	  			<prop key="가길동">서울시 강남구 역삼동</prop>
	  			<prop key="나길동">서울시 영등포구 영등포동</prop>
	  			<prop key="다길동">서울시 도봉구 도봉동</prop>
	  			<prop key="라길동">서울시 강남구 강남동</prop>
	  		</props>
	  		-->
	  		<!-- <map>
	  			<entry>
	  				<key><value>가길동</value></key>
	  				<value>서울시 강남구 역삼동</value>
	  			</entry>
	  			<entry>
	  				<key><value>나길동</value></key>
	  				<value>서울시 영등포구 영등포동</value>
	  			</entry>
	  			<entry>
	  				<key><value>다길동</value></key>
	  				<value>서울시 도봉구 도봉동</value>
	  			</entry>
	  		</map> -->
	  		<!-- <set value-type="java.lang.String">
	  			<value>서울시 강남구 역삼동</value>
	  			<value>서울시 영등포구 영등포동</value>
	  		</set> -->
	  		<!-- <list>
	  			<value>서울시 강남구 역삼동</value>
	  			<value>서울시 영등포구 영등포동</value>
	  		</list> -->
	  <!-- 	</property>
	  </bean>
	   -->
	   
</beans>
